.container {
  width: 100%;
  height: 65px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 0 1.9rem;
}

.container button:first-child {
  background-color: #fff;
  border: 1px solid #28a745;
  width: 40;
  height: 40;
  opacity: 1;
  border-radius: 8px;

  padding: 8px;
  gap: 4px;
}
.container button img {
  display: block;
}

.container button:last-child {
  border: none;
  width: 20;
  height: 16;
  background-color: #fff;
  opacity: 1;
}
