.container {
  /* position: relative; */
  width: 100%;
  height: 65px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* direction: ltr; */
  /* flex-direction: row-reverse; */
  padding: 0 1.9rem;
}

.firstBt {
  background-color: #fff;
  border: 1px solid #28a745;
  width: 40;
  height: 40;
  opacity: 1;
  border-radius: 8px;
  padding: 8px;
  gap: 4px;
  cursor: pointer;
}
.container button img {
  display: block;
}

.secondBt {
  border: none;
  width: 20;
  height: 16;
  background-color: #fff;
  opacity: 1;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0 , 0, 0, 0.5);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}