.container {
  width: 85%;

  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.container button {
  /* color: var(--complementary-color);
  background-color: #fff; */
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.addbtn {
  color: var(--complementary-color);
  background-color: #fff;
}
.container input:focus {
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 0 2px #07ec39;
  outline: none;
}
@media (min-width:900px) {
  .container {
    width: 100%;
  }
}