.container {
  font-size: 12px;
  display: flex;
  justify-content: center;
}
.container p {
  color: var(--text-color);
  padding: 0.5rem;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.tourContainer {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width:500px) {
  .tourContainer {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}
@media (min-width:800px) {
  .tourContainer {
    grid-template-columns: 1fr 1fr 1fr;
    
  }
}
@media (min-width:1100px) {
  .tourContainer {
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
  }
}