:root {
  --primary-color:rgba(40, 167, 69, 1);
  --secondary-color:rgba(216, 255, 225, 1);
  --text-color:#282828;
  --complementary-color:rgb(0, 158, 202);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
a,
button {
  font-family: inherit;
}

