@import url("/fonts/css/_fonts.css");

:root {
  --primary-color: rgba(40, 167, 69, 1);
  --secondary-color: rgba(216, 255, 225, 1);
  --error-color: rgba(212, 0, 0, 1);
  --text-color: #282828;
  --complementary-color: rgb(0, 158, 202);
  /* font-family: "IRANYekan",sans-serif; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "YekanBakh-Medium" ,"YekanBakh", sans-serif;
  
}
input,
a,
button {
  font-family: inherit;
}
