.container {
    max-width: 1440px;
    margin: 0 auto;
}
.side {
    margin: 0 2rem;
}

@media (min-width:900px) {
    .container {
        display: grid;
        grid-template-columns: 1.5fr 3.4fr;
        gap: 1rem;
    }
    .side {
        margin: 0;
        margin-right: 3rem;
    }
    .main {
        margin-left: 3rem;
    }
}

@media (min-width:1050px) {
    
    .side {
        margin: 0;
        margin-right: 8.8rem;
    }
    
}

