.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 1rem;
  text-align: center;
}
.container form {
  margin: 1rem;
}
.backButton {
  text-align: left;
}
.backButton button {
  border: none;
  background-color: #fff;
}
.otpContainer {
  /* width: 100%;
    flex-direction: row-reverse;
    
    justify-content: space-between;
     */
  display: flex;
  justify-content: center;

  gap: 0.2rem;
  direction: ltr;
}
.otpinput {
  /* width: 45px;
    height: 45px; */
  /* background-color: blue; */
  height: 2.7rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  outline: none;
  direction: ltr;
}

.otpinput:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 2px var(--primary-color);
}

.loginBt {
  width: 100%;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 1rem;
  margin-top: 1rem;
}

.otpinput input[type="number"]::-webkit-outer-spin-button,
.otpinput input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.otpinput input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
